# Motores de Traducción
GOOGLE_API_KEY="your_gemini_api_key"
GROQ_API_KEY="your_groq_api_key"
OPENAI_API_KEY="your_openai_api_key"
OPENROUTER_API_KEY="your_openrouter_api_key"

# Servidor
PORT=8004
CORS_ORIGINS="http://localhost:5173,https://msbross.me"
