# Traefik configuration
TRAEFIK_DASHBOARD_AUTH=admin:$$apr1$$[REDACTED]
ACME_EMAIL=[REDACTED]

# Jartosdto Database configuration
POSTGRES_PASSWORD=[REDACTED]

# MinIO configuration
MINIO_ROOT_PASSWORD=[REDACTED]
